{% extends 'delivery/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="dark-grey-text mb-5">
                <!-- About Section Heading-->


                    <form class="col-lg-6 offset-lg-3" method="POST" style="border: #1c1f23; border-style: solid;border-radius: 25px;border-width: thin;">
                        <h1 class="mb-3 mt-3">Login</h1>
                        {% csrf_token %}

                        {{ form|crispy }}
                        <button class="btn btn-xl btn-outline-dark mb-3" type="submit"> Login</button>

                    </form>
                    <p>Forgot Username or Password? <a href="{% url 'password_reset' %}" style="color: gainsboro;"> Click here!</a>
                    </p>
                    <p>Do not have an Account? <a href="{% url 'register' %}" style="color: gainsboro;"> Sign Up Now!</a>
                    </p>



        </section>

{% endblock content %}