{% extends 'delivery/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="dark-grey-text mb-5">
        <p class="">
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.
        </p>
        <p class="">
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
        </p>
    </section>
{% endblock %}