{% extends 'delivery/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="dark-grey-text mb-5">

        <form class="col-lg-6 offset-lg-3" method="post"
              style="border: #1c1f23; border-style: solid;border-radius: 25px;border-width: thin;">
            <h3><i class=" mt-3 fa fa-lock fa-4x"></i></h3>
            <h1 class="mb-3 mt-3">Forgot password?</h1>
            <p>Please enter your email address below.</p>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-xl btn-outline-dark mb-3" type="submit" style="border-radius: 30px;">Send Reset Link</button>
        </form>
    </section>
{% endblock %}