{% extends 'delivery/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="dark-grey-text mb-5">
            <p>{{ user.username }}</p>
            <h1>Your Ads</h1>
            <table class="table table-hover" style="border: #1c1f23; border-style: solid;border-radius: 65px;border-width: thin;">
                <thead>
                <tr>
                    <th>Title</th>
                    <th class="d-none d-lg-table-cell">Category</th>
                    <th class="d-none d-lg-table-cell">Price</th>
                    <th class="d-none d-lg-table-cell">Posted on</th>
                    <th class="d-none d-lg-table-cell">Want to Update?</th>
                    <th>Sold?</th>
                </tr>
                </thead>
                <tbody>
                {% for post in userPosts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td class="d-none d-lg-table-cell">{{ post.category }}</td>
                        <td class="d-none d-lg-table-cell">$ {{ post.price }}</td>
                        <td class="d-none d-lg-table-cell">{{ post.datePosted }}</td>
                        <td class="d-none d-lg-table-cell"> <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' post.id %}">Update</a> </td>
					<td> <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' post.id %}">Delete</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </section>

{% endblock content %}