{% extends 'delivery/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="dark-grey-text mb-5">
        <div class="row">
        <div class="col-lg-4 offset-lg-1 mt-4">
            <img
                src="https://drive.google.com/uc?export=view&id=1O_QgI_LiE335P9ImWpekLeJyUVCuu2eI" alt=""
                class="img-fluid">

        </div>
        <!-- About Section Heading-->
        <form class="col-lg-4 offset-lg-2 text-left mb-5" method="POST">
            {% csrf_token %}
            <h1 class="mb-3 mt-3 text-center">Sign up</h1>
            {{ form|crispy }}
            <button class="col-lg-12 btn btn-xl btn-outline-dark mb-3" type="submit" style="border-radius: 30px;"> Sign Up
            </button>
            <p class="text-center">Have an Account? <a href="{% url 'login' %}" style='color:black;'> Sign in!</a></p>
        </form>
        </div>


        </div>
    </section>

{% endblock content %}