{% extends "delivery/base.html" %}
{% block content %}
    <section class="dark-grey-text mb-5">
        <div class="row">

            <div class="col-lg-4 offset-lg-1 mt-4">
                <img class="image-link" src="{{ MEDIA_URL }}{{ object.images.url }}" alt=""
                     style="max-height: 250px;max-width: 250px;min-height: 250px;min-width: 250px;">
            </div>

            <div class="col-lg-5 text-left mb-5">
                <h3 class="mb-1">{{ object.title }}</h3>
                <p class="mt-0 mb-1">{{ object.category }}</p>
                <p class="mt-0"><span
                        class="material-icons">location_on</span><small>{{ object.zip }}</small></p>
                <p class="mt-4" style="font-weight: 700;font-size: larger;">${{ object.price }}</p>
                <hr>
                <p class="my-3" style="font-weight: 700;">Info</p>
                <p class="mb-1 mt-0 text-justify"><large style="font-weight: 700;">Description:</large> {{ object.description }}</p>
                <p class="mb-1 mt-0"><large style="font-weight: 700;">Condition:</large> {{ object.condition }}</p>
                <p class="mb-1 mt-0"><large style="font-weight: 700;">Posted on:</large> {{ object.datePosted.date }}</p>
                <p class="mb-1 mt-0"><large style="font-weight: 700;">Seller name:</large> {{ object.name }}</p>
                <div class="row mt-4 text-center">
                    <a class="col-lg-5 ml-2 mr-2 btn btn-outline-dark" type="submit" style="border-radius: 30px;"><span class="material-icons">
local_phone
</span>Call</a>
                    <a class="col-lg-5 ml-2 btn btn-outline-dark" style="border-radius: 30px;" href="mailto:{{ object.email }}?subject=Interested%20in%20{{ object.title }}&body=Hello%2C%0A%0AI%20am%20interested%20in%20buying%20{{ object.title }}%20.%20Please%20let%20me%20know%20if%20it%27s%20available.%0A%0A%0AThanks%2C%0A%0A{{ user.username }}"><span class="material-icons">
email
</span>Email</a>
                </div>

            </div>

        </div>
    </section>

{% endblock content %}